In [38]:
import pandas as pd

In [39]:
df = pd.read_csv("results/[CLS]_[SEP]_[MASK]-all_cmp.csv")
print(df.columns)
print(len(df.columns))

Index(['Unnamed: 0', 'name', 'map', 'RR@5', 'RR@20', 'RR@1', 'RR@10', 'map +',
       'map -', 'map p-value', 'map reject', 'map p-value corrected', 'RR@5 +',
       'RR@5 -', 'RR@5 p-value', 'RR@5 reject', 'RR@5 p-value corrected',
       'RR@20 +', 'RR@20 -', 'RR@20 p-value', 'RR@20 reject',
       'RR@20 p-value corrected', 'RR@1 +', 'RR@1 -', 'RR@1 p-value',
       'RR@1 reject', 'RR@1 p-value corrected', 'RR@10 +', 'RR@10 -',
       'RR@10 p-value', 'RR@10 reject', 'RR@10 p-value corrected'],
      dtype='object')
32

In [40]:
df[['name', 'map', 'map +', 'map -', 'map p-value', 'map p-value corrected', 'map reject']]

,name,map,map +,map -,map p-value,map p-value corrected,map reject
0,no_pruning,0.352141,NaN,NaN,NaN,NaN,False
1,[CLS]_[SEP]_[MASK]_prune_query_False_prune_doc...,0.352560,10195.0,8516.0,7.631663e-02,3.052665e-01,False
2,[CLS]_[SEP]_[MASK]_prune_query_True_prune_doc_...,0.327324,14092.0,23928.0,1.413317e-171,5.653269e-171,True
3,[CLS]_[SEP]_[MASK]_prune_query_True_prune_doc_...,0.327284,14104.0,23945.0,9.026210e-172,3.610484e-171,True

In [41]:
df[['name', 'RR@1', 'RR@1 +', 'RR@1 -', 'RR@1 p-value', 'RR@1 p-value corrected', 'RR@1 reject']]

,name,RR@1,RR@1 +,RR@1 -,RR@1 p-value,RR@1 p-value corrected,RR@1 reject
0,no_pruning,0.224729,NaN,NaN,NaN,NaN,False
1,[CLS]_[SEP]_[MASK]_prune_query_False_prune_doc...,0.225323,297.0,264.0,1.635429e-01,6.541714e-01,False
2,[CLS]_[SEP]_[MASK]_prune_query_True_prune_doc_...,0.209022,2082.0,2955.0,8.114740e-35,3.245896e-34,True
3,[CLS]_[SEP]_[MASK]_prune_query_True_prune_doc_...,0.209058,2087.0,2958.0,1.298302e-34,5.193209e-34,True

In [42]:
df[['name', 'RR@5', 'RR@5 +', 'RR@5 -', 'RR@5 p-value', 'RR@5 p-value corrected', 'RR@5 reject']]

,name,RR@5,RR@5 +,RR@5 -,RR@5 p-value,RR@5 p-value corrected,RR@5 reject
0,no_pruning,0.331160,NaN,NaN,NaN,NaN,False
1,[CLS]_[SEP]_[MASK]_prune_query_False_prune_doc...,0.331756,1439.0,1224.0,2.032999e-02,8.131995e-02,False
2,[CLS]_[SEP]_[MASK]_prune_query_True_prune_doc_...,0.307584,6124.0,9252.0,1.115031e-130,4.460123e-130,True
3,[CLS]_[SEP]_[MASK]_prune_query_True_prune_doc_...,0.307525,6134.0,9259.0,5.981213e-131,2.392485e-130,True

In [43]:
df[['name', 'RR@10', 'RR@10 +', 'RR@10 -', 'RR@10 p-value', 'RR@10 p-value corrected', 'RR@10 reject']]

,name,RR@10,RR@10 +,RR@10 -,RR@10 p-value,RR@10 p-value corrected,RR@10 reject
0,no_pruning,0.346319,NaN,NaN,NaN,NaN,False
1,[CLS]_[SEP]_[MASK]_prune_query_False_prune_doc...,0.346791,2348.0,2023.0,5.391902e-02,2.156761e-01,False
2,[CLS]_[SEP]_[MASK]_prune_query_True_prune_doc_...,0.322020,8123.0,12447.0,2.257651e-151,9.030602e-151,True
3,[CLS]_[SEP]_[MASK]_prune_query_True_prune_doc_...,0.321974,8128.0,12459.0,1.291235e-151,5.164940e-151,True

In [44]:
df[['name', 'RR@20', 'RR@20 +', 'RR@20 -', 'RR@20 p-value', 'RR@20 p-value corrected', 'RR@20 reject']]

,name,RR@20,RR@20 +,RR@20 -,RR@20 p-value,RR@20 p-value corrected,RR@20 reject
0,no_pruning,0.352950,NaN,NaN,NaN,NaN,False
1,[CLS]_[SEP]_[MASK]_prune_query_False_prune_doc...,0.353426,3593.0,3188.0,4.986555e-02,1.994622e-01,False
2,[CLS]_[SEP]_[MASK]_prune_query_True_prune_doc_...,0.328228,9875.0,15349.0,2.069901e-161,8.279605e-161,True
3,[CLS]_[SEP]_[MASK]_prune_query_True_prune_doc_...,0.328185,9885.0,15362.0,1.364821e-161,5.459284e-161,True